  <div class="assets_list">
    <h2>Assets <%= link_to "(+)", new_asset_path %></h2>
      <% @assets.each do |asset| %>
        <li>
          <%= link_to asset.category, asset %>
          <%# While rails will adapt it for you typically, it is better to more
          specifically define the path that link_to uses. Example:
          link_to asset.category, asset_path(asset) %>
          <%= number_to_currency(asset.value) %>
        </li>
      <% end %>
  </div>

  <div class="expenses_list">
    <h2>Expenses <%= link_to "(+)", new_expense_path %></h2>
      <% @expenses.each do |expense| %>
        <li>
          <%= link_to expense.category, expense %>
          <%= number_to_currency(expense.value) %>
        </li>
      <% end %>
  </div>
