<div class= "new_asset">

<h2>Asset <%= link_to "(+)", new_asset_path %></h2>


<%= form_for @asset do |f| %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.label :value %>
  <%= f.text_field :value %>

  <%= f.submit %>
<% end %>

</div>
