<h2>Edit Expense</h2>

<%= form_for @expense, method: :put do |f| %>
  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.label :value %>
  <%= f.text_field :value %>

  <%= f.submit %>
  <% end %>

  <%= form_for @expense, method: :delete do |f| %>
  <%= f.submit "Delete", class: "delete" %>
<% end %>
